label {
    font-size: 1.2rem;
    color: #000000;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
    accent-color: #f06292;
  }
  
  input[type="checkbox"]:checked + span {
    text-decoration: line-through;
    color: #4d4b4b;
  }
  